input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  appearance: none;
}
input{
  border-radius: 8px;
}
*{
  text-align: center;
  font-family: cursive;
}
button{
  background-color: dimgray;
  border: none;
  border-radius: 8px;
  height: 1.2rem;
  color:white;
}
button:hover{
  transform: scale(1.1);
  cursor: pointer;
}
section{
  display: flex;
  padding: 3rem;
  border: 1px solid black;
  border-radius: 8px;
  width: 700px;
  background-image: linear-gradient(to bottom right,rgba(250,0,0,0.5),rgba(250,250,250,0.5));
  height: 500px;
  align-items: center;
}
.miniSection{
  display: block;
  height: 60px;
  width: 170px;
  border: 1px solid black;
  border-radius: 8px;
}
.mini1{
  margin-left: 9rem;
}